footer {
    background-color: var(--background-footer-color);
}

.footer-inner-container {
    padding: 3rem 2rem;
}

.footer-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 5rem;
    height: 3rem;
}

.footer-inner-container .navbar-brand {
    font-size: var(--font-size-default);
    margin: 0 auto;
}

.copyright {
    margin: 0 auto;
    font-size: var(--font-size-small);
    color: rgb(0 0 0 / 70%);
}

@media(min-width: 768px) {
    .footer-inner-container .navbar-brand {
        font-size: var(--desktop-font-size-default);
    }

    .copyright {
        margin: 0 auto;
        font-size: var(--desktop-font-size-small);
        color: rgb(0 0 0 / 70%);
    }

    .footer-inner-container {
        padding: 4rem 3rem;
    }

    .footer-grid {
        gap: 2.5rem;
    }

    .footer-logo {
        width: 6rem;
        height: 4rem;
    }
}