footer {
    background-color: var(--header-background);
}

.footer-logo {
    height: 10px;
    margin-right: 5px;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 50px 20px;
}

.footer-inner-top {
    margin-bottom: 20px;
}

.footer-inner-top p {
    padding: 5px 0 5px 0;
}

.copyright {
    font-size: 14px;
    color: rgb(0 0 0 / 70%);
}

.footer-inner-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-inner-column-title {
    font-weight: 500;
    margin-bottom: 5px;
}

.footer-inner-column-item a {
    text-decoration: inherit;
    font-size: 14px;
    color: rgb(0 0 0 / 70%);
}

.footer-inner-column-item a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--beaver-orange);
}


@media(min-width: 768px) {
    .footer-inner-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3vh;
    }

    .footer-inner-top {
        padding: 0 6vw 0 1vw;
    }

    .footer-logo {
        height: 1rem;
        margin-right: 10px;
    }

    .footer-inner-container .navbar-brand {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 1rem;
    }

    .footer-inner-bottom {
        gap: 3vw;
    }

    .footer-inner-column-title {    
        font-size: 1.2rem;
        padding: 5px 0 5px 0;
    }

    .footer-inner-column-item a {
        font-size: 1rem;
    }
}