footer {
    background-color: var(--header-background);
    border-radius: 15px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    bottom: 10px;
}

footer p {
    text-align: center;
}