:root {
    --tooltip-background-color: rgb(230, 230, 230);
}

.tooltip-container {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    border: 0.5px solid grey;
    padding: 0 5px 0 5px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;

    background: var(--tooltip-background-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1px -1px 4px;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
}

.tooltip-top {
    width: 250px;
    bottom: 140%;
    left: 50%;
    margin-left: -125px;
}

.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background-color) transparent transparent transparent;
}

@media(min-width: 768px) {
    .tooltip-container {
        margin-left: 0.4vw;
    }

    .tooltip-wrapper {
        font-size: 12px;
    }
}  