.contact-content {
    padding: 20px;
}

.contact-subtitle {
    width: 90%;
    margin: 0 auto 2.5vh auto;
}

.email-link {
    text-decoration: inherit;
    color: var(--ten-color);
}


.contact-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-label {
    margin-left: 1rem;
    margin-bottom: 5px;
}

#contact-name-input, 
#contact-email-input,
#contact-message-input,
.contact-submit-button {
    font-size: var(--font-size-default);
    padding: 5px 5px 5px 1rem;
    border-radius: 10px;
    border: 0.5px solid black;
}

#contact-message-input {
    resize: none;
    height: 30vh;
}

.char-counter-container {
    text-align: right;
}

#char-counter {
    font-size: 1.2rem;
    position: relative;
    top: -2rem;
    left: -0.75rem;
    margin: 0;
}

.captcha-container {
    margin-bottom: 2rem;
}

.captcha-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.77);
}

.contact-submit-container {
    display: flex;
    justify-content: center;
}

.contact-submit-button {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 1rem;
}

.contact-result {
    width: 90%;
    margin: 0 auto;
}

@media(min-width: 1000px) {
    .contact-input-container {
        width: 100%;
        max-width: 100%;
    }

    .captcha-wrapper {
        transform: none;
    }
}