.image-container {
    max-width: 65%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px;
    margin-top: 50px;
}

.image-loading-container {
    margin-top: 50px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.2em;
}

.button-wrapper a, .button-wrapper button {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
}

.button-wrapper a:hover, .button-wrapper button:hover {
    color: #646cff;
    cursor: pointer;
}

.button-component {
    background: rgba(228, 228, 228, 0.5);
    padding: 15px 20px 15px 20px; 
    border-radius: 15px;
    border: 0;
    font-size: 1.5rem;
    margin: 10px;
}