.home-title {
    font-size: calc(var(--font-size-title) * 1.3);
    color: var(--ten-color);
    padding-bottom: 1rem;
}

.home-subtitle {
    font-size: calc(var(--font-size-default) * 1.2);
    padding-bottom: 0.5rem;
}

@media(min-width: 768px) {
    .home-title {
        font-size: calc(var(--desktop-font-size-title) * 1.3);
    }
    
    .home-subtitle {
        font-size: calc(var(--desktop-font-size-small) * 1.3);
    }

    .grid-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .mobile-separator {
        display: none;
    }
}