.home-container {
    min-height: 90vh;
    height: 100vh;
    font-weight: 500;
}

.home-content {
    min-height: 85vh;
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    padding-bottom: 50px;
}

.course-title {
    font-size: 5vh;
}

.course-subtitle {
    font-size: 2.5vh;
}

.home-description {
    font-size: 1.75vh;
    justify-content: flex-end;
}

.chevron {
    position: absolute;
    top: 90vh;
    left: 50vw;
}