.home-container {
    min-height: 90vh;
    height: 100vh;
    color: var(--thirty-color);
}

.home-content {
    min-height: 85vh;
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title-container {
    margin-bottom: 30px;
}

.home-title {
    font-size: calc(var(--font-size-title) * 1.3);
    color: var(--ten-color);
    padding-bottom: 10px;
}

.home-subtitle {
    font-size: calc(var(--font-size-default) * 1.2);
}

.home-description {
    width: 80%;
    font-size: var(--font-size-small);
    margin: 0 auto;
}

.chevron {
    position: absolute;
    width: 15px;
    top: 90%;
    left: 50%;
    transform: rotate(90deg);
}

@media(min-width: 768px) {
    .home-title {
        font-size: calc(var(--desktop-font-size-title) * 1.3);
    }
    
    .home-subtitle {
        font-size: calc(var(--desktop-font-size-small) * 1.3);
    }
    
    .home-description {
        font-size: var(--desktop-font-size-small);
    }
}