* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

body, input, textarea {
    background-color: var(--background-color);
    font-family: 'Verdana', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color-default);
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
}

footer {
    flex-shrink: 0;
}

.center-text {
    text-align: center;
}

.center-div {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}




.separator, .mobile-separator {
    height: 3rem;;
} 

.content-inner {
    padding: 2rem 3rem 4rem 3rem;
}

.content-block {
    background-color: var(--background-ten-color);
    border-radius: var(--border-radius);
}

.content-block-inner {
    padding: 5rem 5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
}

.content-block-title {
    margin: 0;
    padding-bottom: 2rem;
}

.content-block-text-container {
    flex: 1 0 auto;
}

.content-block-text {
    margin-bottom: 5px;
}

.content-title-block {
    background-color: var(--background-sixty-color);
    border: 1px solid var(--border-sixty-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}






html {
    --sixty-color: #f4f4f4;
    --thirty-color: #0a1e3e;
    --ten-color: #d73f09;
    
    --text-color: var(--thirty-color);
    --background-color: #eeee;
    --background-ten-color: #ffeee2;
    --background-sixty-color: #ececec;
    --background-footer-color: #e2e2e2;
    --border-sixty-color: #e0e0e0;
    
    --page-width: 60%;
    
    font-size: 62.5%;
    --font-size-small: 1.4rem;
    --font-size-default: 1.6rem;
    --font-size-large: 2.4rem;
    --font-size-title: 3.2rem;
    --line-height-default: 2.8rem;
    
    --scale-factor: 1.3;
    --desktop-font-size-small: calc(var(--font-size-small) * var(--scale-factor));
    --desktop-font-size-default: calc(var(--font-size-default) * var(--scale-factor));
    --desktop-font-size-large: calc(var(--font-size-large) * var(--scale-factor));
    --desktop-font-size-title: calc(var(--font-size-title) * var(--scale-factor));
    --desktop-line-height-default: calc(var(--line-height-default) * var(--scale-factor));
}



.block-title {
    font-size: var(--font-size-title);
    color: var(--thirty-color);
}

.page-title {
    color: var(--ten-color);
}

.page-text {
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    color: var(--thirty-color);
}

.page-action {
    width: fit-content;
    margin-top: 1rem;
    color: white;
    background-color: #0D5257;
    background-color: #D73F09;
    padding: 0.65rem 2.5rem;
    border-radius: 2rem;
}

@media(min-width: 1000px) {
    .content {
        width: var(--page-width);
    }

    .content-block-text-container {
        padding-bottom: 2rem;
    }

    .block-title {
        font-size: var(--desktop-font-size-title);
    }

    .page-text {
        font-size: var(--desktop-font-size-default);
        line-height: var(--desktop-line-height-default);
    }
}