@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    height: 100%;
}

html {
    --beaver-orange: rgb(215 63 9);
}

body {
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.center-text {
    text-align: center;
}

.center-div {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--beaver-orange);
}