.toTop-container {
    z-index: 90;
    position: fixed;
    bottom: 1rem;
    right: -6rem;
    cursor: pointer;
    transition: translate .3s;
}

.toTop-img {
    width: 48px;
}

.show-top-button {
    translate: -7em 0;
}

@media(min-width: 768px) {
    .toTop-container {
        bottom: 6rem;
        right: -6rem;
        transition: translate .5s;
    }
    
    .show-top-button {
        translate: -10em 0;
    }
}