.toTop-container {
    z-index: 90;
    position: fixed;
    bottom: 1rem;
    right: -6rem;
    cursor: pointer;
    transition: translate .3s;
}

.toTop-img {
    width: 48px;
}

.show-top-button {
    translate: -7em 0;
}