:root {
    --menu-top: 14rem;
    --border-radius: 3rem;
    --menu-height: 83.5vh;
}

header {
    margin-top: 3vh;
    z-index: 90;

}

.nav-container {
    position: sticky;
    width: 90%;
    margin: 0 auto 0 auto;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    padding: 2.5rem 3rem;
}

.nav-inner-container {
    font-size: var(--font-size-default);
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 41.313px;
    height: 32px;
    display: inline-flex;
    align-items: center;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.dropdown-close {
    opacity: 0;
}

.dropdown-open,
.dropdown-close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    font-size: var(--font-size-default);
    margin: auto;
    cursor: pointer;
    transition: opacity .1s, transform .4s; 
}

.nav-menu {
    height: var(--menu-height);
    pointer-events: none;
    display: none;
}

.nav-menu::-webkit-scrollbar {
    width: 0;
}

.nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-list li {
    padding: 5px;
}

.nav-list li a {
    color: var(--primary-color);
    font-size: var(--font-size-title);
}

.show-menu {
    pointer-events: all;
    display: block;
}

.show-icon .dropdown-open {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .dropdown-close {
    opacity: 1;
    transform: rotate(90deg);
}

.nav-desktop {
    display: none;
}

.nav-desktop a {
    color: var(--primary-color);
    font-size: var(--font-size-default);
}

@media(min-width: 1000px) {
    .nav-toggle,
    .nav-menu {
        display: none;
    }

    .nav-container {
        width: var(--page-width);
        height: 9rem;
    }

    .nav-desktop {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }

    .nav-desktop a:hover {
        text-decoration: underline;
        text-decoration-color: var(--ten-color);
        text-underline-offset: 1rem;
        text-decoration-thickness: 2px;
    }
}