:root {
    --header-background: #ededed;
}

.navbar-container {
    background-color: var(--header-background);
    border-radius: 10px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2em;
}

.navbar-wrapper a {
    text-decoration: inherit;
}
.navbar-wrapper a:hover {
    color: black;
    /* color: #646cff; */
}

.navbar-brand, .navbar-menu-items {
    color: var(--beaver-orange);
    font-weight: 500;
}

.navbar-menu-items {
    margin: 0 0 0 20px;
}