:root {
    --header-background: #ededed;
}

header {
    position: sticky;
    z-index: 99;
    top: 10px;
}

.navbar-container {
    background-color: var(--header-background);
    margin-bottom: 30px;
    border-radius: 10px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2em;
}

.navbar-wrapper a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
}
.navbar-wrapper a:hover {
    color: #646cff;
    /* color: #535bf2; */
}

/* .navbar-brand {
    color: red;
}

.navbar-menu {
    color: blue;
}*/

.navbar-menu-items {
    margin: 0 0 0 20px;
} 