.selectors-container {
    width: 90%;
    border: solid 2px var(--header-background);
    border-radius: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.select-container {
    width: 15%;
}

.select-component-wrapper {
    display: flex;
    justify-content: center;
}

.select-component {
    width: 100%;
}

.select-label-info {
    display: flex;
    justify-content: center;
}