.select-container {
    width: 10%;
}

.select-component-wrapper {
    display: flex;
    justify-content: center;
}

.select-component {
    width: 100%;
}

.year-container {
    margin-right: 50px;
}

.term-container {
    margin-left: 50px;
}

.select-label-info {
    display: flex;
    justify-content: center;
}