.select-container {
    margin-bottom: 10px;
}

.select-component-wrapper {
    display: flex;
    justify-content: center;
}

.select-component {
    font-size: var(--font-size-default);
    border-radius: var(--border-radius);
    width: 100%;
}

.select-label-info {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    font-size: var(--font-size-default);
}

@media(min-width: 768px) {
    .selectors-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        width: 60%;
        margin: 0 auto;
        border: solid 2px var(--header-background);
        border-radius: 15px;
        padding: 2vh;
    }

    .select-container {
        padding: 0 1vw 0 1vw;
    }

    .select-label-info {
        margin-bottom: 1.5vh;
    }

    .select-component {
        font-size: var(--desktop-font-size-default);
    }
    
    .select-label-info {
        font-size: var(--desktop-font-size-default);
    }
}